/*
 * xenon.dts - Xbox360 Game Console device tree.
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; version 2 of the License.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program; if not, write to the Free Software
 *  Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */


/ {
	model = "Xenon Game Console";
	compatible = "XENON";
	#address-cells = <2>;
	#size-cells = <1>;

	/*
     * Bootargs will be created here, as well as initrd properties if relevant
     */
	chosen {
		linux,platform = <00000801>;
	};

	memory {
		device_type = "memory";
		reg = <00000000 00000000 1e000000>;
	};

	cpus {
		#cpus = <1>;
		#address-cells = <1>;
		#size-cells = <0>;

		Xenon,PPE@0 {
			device_type = "cpu";
			linux,boot-cpu;
			reg = <0>;
			ibm,ppc-interrupt-server#s = <0 1>;
			timebase-frequency = <2FAF080>; // 50 MHz
			i-cache-size = <8000>;
			i-cache-line-size = <80>;
			d-cache-size = <8000>;
			d-cache-line-size = <80>;

					/* this must be configured with regard to the HID6:LB value */
			ibm,segment-page-sizes = <
				C    0 1 c   0     // 4k page
				10 100 1 10 00     // 64k pages
				18 110 1 18 01     // 16M pages
			>;
		};
		Xenon,PPE@1 {
			device_type = "cpu";
			reg = <2>;
			ibm,ppc-interrupt-server#s = <2 3>;
			timebase-frequency = <2FAF080>;
			i-cache-size = <8000>;
			i-cache-line-size = <80>;
			d-cache-size = <8000>;
			d-cache-line-size = <80>;
		};
		Xenon,PPE@2 {
			device_type = "cpu";
			reg = <4>;
			ibm,ppc-interrupt-server#s = <4 5>;
			timebase-frequency = <2FAF080>;
			i-cache-size = <8000>;
			i-cache-line-size = <80>;
			d-cache-size = <8000>;
			d-cache-line-size = <80>;
		};
	};

	pci {
		compatible = "xenon";
		device_type = "pci";
		#address-cells = <3>;  // phy up, mid, low
		#size-cells = <1>;
		#interrupt-cells = <1>;
		
		interrupt-parent = <40000>;
		// interrupts = <18 2>;
		interrupt-map-mask = <f900 0 0 0>; // type, lower, upper, irq

		interrupt-map = <
			0000 0 0 0  40000 44  // audio out (?)
			0800 0 0 0  40000 24  // SATA cdrom
			1000 0 0 0  40000 20  // SATA disk
			2000 0 0 0  40000 2c  // USB OHCI #1
			2100 0 0 0  40000 30  // USB EHCI #1
			2800 0 0 0  40000 34  // USB OHCI #2
			2900 0 0 0  40000 38  // USB EHCI #2
			3800 0 0 0  40000 4c  // Enet
			4000 0 0 0  40000 18  // Flash
			4800 0 0 0  40000 40  // XMA (?)
			5000 0 0 0  40000 14  // SMM, GPIO, ...
		>;

		bus-range = <0 0>;
		ranges = <
			02000000 00000000 80000000 00000200 80000000 80000000 // PCI space at 80000000 is mapped to 200 80000000
			02000000 00000000 00000000 00000000 00000000 20000000 // RAM is 1:1 mapped
		>;
	};

	interrupt-controller {
		compatible = "xenon";
		linux,phandle = <40000>;
		interrupt-controller;
		#address-cells = <0>;
		#interrupt-cells = <1>;
		built-in;
		reg = <00000200 00050000 6000>;
		interrupts = <
			7c 78 74 70 6c 68 64 60
			5c 58 54 50 4c 48 44 40
			3c 38 34 30 2c 28 24 20
			1c 18 14 10 0c 08 04 
		>;
	};
};
